<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Моя страница</title>
    <style>
        .error{
            color: red;
        }
    </style>
</head>
<body>
<div th:object="${user}">



    <label th:for="username">Логин: </label>
    <th:block th:id="username" th:text="*{username}"></th:block><br>

    <label th:for="name">Имя: </label>
    <th:block th:id="name" th:text="*{name}"></th:block><br>

    <label th:for="surname">Фамилия: </label>
    <th:block th:id="surname" th:text="*{surname}"></th:block><br>

    <label th:for="email">email: </label>
    <th:block th:id="email" th:text="*{email}"></th:block><br>
    <button type="submit"><a th:href="@{userUpdate/{id}(id=*{id})}">Редактировать</a></button>
    <button type="submit"><a th:href="@{home}">Домой</a></button>
</div>


</body>
</html>