<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
    <style>
        .error{
            color: red;
        }
    </style>
</head>
<body>
<h2>Редактор пользователя</h2>
<form action="#" th:action="@{/userUpdateAdmin}" th:object="${user}" method="post">
    <p><label for="id">Id</label>
        <input readonly type="number" th:field="*{id}" id = "id" placeholder="Id"><br></p>


    <label for="username">Имя пользователя:</label>
    <input readonly type="text" th:field="*{username}" id="username" placeholder="Имя пользователя"/><br>


    <label for="email">Email:</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email"/><br>
    <p th:if="${#fields.hasErrors('email')}"  th:errors="*{email}" th:errorclass="error"></p>

    <label for="name">Имя:</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Имя"/><br>
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="error"></p>

    <label for="surname">Фамилия:</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="Фамилия"/><br>
    <p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" th:errorclass="error"></p>

    <label for="password">Пароль:</label>
    <input type="password" th:field="*{password}" id="password" placeholder="Пароль" /><br>



    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}" class="error"></p>
    </div>

    <label for="user">user</label>
    <input type="radio" id="user" th:field="${user.role}" name="role" value="ROLE_USER" checked="checked"/>
    <label for="admin">admin</label>
    <input type="radio" id="admin" th:field="${user.role}" name="role" value="ROLE_ADMIN" /><br/>

    <input type="submit" value="Изменить">
    </form>

</body>
</html>